
body{
    margin: 0;
    padding: 0;
}
#cont{
    width: 600px;
    margin: auto;
    display: flex;
}

.incont{
    width: 556px;
    padding-bottom: 50px;
    margin: 20px 68px 78px 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 45px;
    background-color: white;
}

.incont>p:nth-child(2){
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    margin: 10px;
}

.incont>p:nth-child(3),
.incont>p:nth-child(5),
.incont>p:nth-child(7){
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 0px 10px;
}

.incont>p:nth-child(7){
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #ad3113;
    text-align: right;
    margin-right: 50px;
    margin-top: -10px;
}

 input{
    width: 465px;
    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 9px;
    padding: 15px 25px;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin: 0px 0px 10px 0px;

}

button{
    margin-top: 20px;
    width: 515px;
    height: 54.22px;
    left: 861.39px;
    top: 571.99px;
    border: 0px;
    background: #E48700;
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
    border-radius: 10px;
    color: white;
    a{
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
}

button+p{
    margin-top: 11px;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    color: #8D8D8D;
    margin-right: 50px;
    a{
        text-decoration: none;
    }

}
button+p>span{
    margin-top: 11px;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    color: #B87514;
}

.incont>div{
  display: flex;
  justify-content: center; 
  margin-top: -10px;
}
.incont>div:nth-child(1){
    width: 150px;
    height: 100px;
}
.incont>div:nth-child(2){
    width: 150px;
    height: 100px;
}