#ueygrcyueg{
    /* border: 2px solid red; */
    width: 1000px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* margin-top: 50px; */
    background-color: rgb(224, 224, 224);
    display: flex;
}
#ueygrcyueg>div:nth-child(1){
    width: 50%;
    /* border: 2px solid red; */

}
#ueygrcyueg>div:nth-child(2){
    /* border: 2px solid red; */
    width: 50%;
    margin: 30px;
    /* display: grid; */

}
#ueygrcyueg>div:nth-child(2)>div:nth-child(1){
    /* width: 10px; */
    border: 2px solid #592c2c;

}
#vereerb>div{
    /* border: 2px solid rgb(89, 44, 44); */
     margin: 10px;
}
#vereerb+div{
    width: 145px;
    margin: 30px auto;
    /* border: 2px solid rgb(89, 44, 44); */

}
#vereerb+div button{
    padding: 10px 60px;
    border-radius: 10px;

}
#vereerb+div button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    background-color: #670b19;
}
#paglogopage{
    /* margin-top: 50px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    /* margin-left: 100px; */
    width: 1000px;
    margin: auto;
    margin-top: 10px;
        /* border: 2px solid rgb(89, 44, 44); */

}
#paglogopage>div{
    width: 150px;
    margin-left: 50px;
    /* border: 2px solid rgb(89, 44, 44); */

}
#paglogopage img{
    width: 100%;
}
#footer{
    width: 1100px;
    margin: auto;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
#footer>p{
    font-size: 15px;
    color: #303030;
    text-align: justify;
    line-height: 24px;
}
#footer>div{
    display: flex;
    justify-content: space-between;
}
#footer a{
    font-weight: bold;
    font-size: 20px;
    color: #000;
}
.ftex{
    /* width: 100px; */
    /* border: 2px solid red; */
    /* margin: auto; */
    text-align: center;
    font-size: 20px;
    color: #303030;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 50px;
}
.ftex2{
    margin-bottom: 15px;
    font-style: italic;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;

}
#fotinp{
    text-align: center;
    
}
#fotinp>input{
    /* padding: 2px; */
    border: 1px solid #959595;
    width: 100%;
    padding-left: 30px;
    max-width: 380px;
    height: 55px;
    font-style: italic;
    outline: none;
    /* margin-right: 0px; */
}
#fotinp > input+a{
    background-color: #670b19;
    color: #fafafa;
    padding: 20px;
    border: 1px solid #959595;
    width: 100%;
    /* max-width: 380px; */
    /* height: 60px; */
    font-style: italic;
    outline: none;
    margin-left: 0px;
}
#ptag{
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    border: 1px solid #eeeeee;
    padding: 35px 40px 30px 40px;
    width: 790px !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: black;
    height: 150px;
    margin-top: 50px;
}
#footer_bg{
    background-image: url(/assets/footer_bg.png);
    background-color: #670b19;
    margin-bottom: -14px;
    background-size: 860px;
}
#footer_bg>div{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    padding: 30px 0px;
    /* border: 2px solid red; */
}
#footer_bg>div>div>div{
    display: grid;
}
#footer_bg h3,
#footer_bg a{
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
    color: white !important;
}
#col-lg-12{
    padding: 5px;
    text-align: center;
    background-color: #7b0e1d;
}
#col-lg-12 p{
    color: #ffffff;
    padding: 15px 0 16px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
}